:root {
  /* based on https://colorhunt.co/palette/1b211a6281418bae66ebd5ab */
  --background: #1B211A;
  --text: #8BAE66;
  --text-muted: #628141;
  --accent: #EBD5AB;
}

@font-face {
  font-family: 'DepartureMono';
  src: url('assets/DepartureMonoNerdFont-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* this avoids creating scrolling bars by placing the padding fit inside the page */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* responsively scale the text  */
/* html { */
/*   font-size: clamp(14px, 3.5vw, 16px); */
/* } */

body {

  font-family: 'DepartureMono', monospace;
  background: var(--background);
  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--accent);

  &:hover {
    opacity: 0.75;
  }
}

h1 {
  /* font-size: clamp(1.4rem, 5vw, 2rem); */
  font-size: 2rem;
  margin: 0;
}

p {
  font-size: 1rem;
  margin: 0.25rem 0 0;
}

.page {
  /* woke dynamic vh for 'mobile' browsers */
  min-height: 100vh;  /* fallback */
  min-height: 100svh; /* safer on mobile */
  min-height: 100dvh; /* modern browsers */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .25rem;
  text-align: center;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 1rem;
    text-align: left;
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: .75rem;

  @media (min-width: 768px) {
    gap: 1rem;
    flex-direction: row;
  }

  & a {
    text-wrap: noWrap;
  }
}

.nav-link {
  &::before {
    content: "/";
  }
}

.link-divider {
  margin: 0px;
  color: var(--text-muted);

  &::before {
    content: "-";
  }
}

.mobile-only {
  @media (min-width: 768px) {
    display: none;
  }
}

.desktop-only {
  @media (max-width: 767px) {
    display: none;
  }
}
